/* fonts */
@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(./fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu'), url(./fonts/Ubuntu-Regular.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* all similar content styling codes */
section {
  padding: 70px 0;
  
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.about,
.portfolio,
.skills,
.contact,
.about-project, 
.project-design,
.development,
footer {
  font-family: "Poppins", sans-serif;
}

.about .about-content,
.portfolio .portfolio-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 30px;
  padding-bottom: 30px;
  font-family: "Ubuntu", sans-serif;
}
.nav-project-btn a {
  font-family: "Ubuntu", sans-serif;
}

section .title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: crimson;
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}

/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
  background: rgb(0, 0, 0);
}
.navbar.sticky {
  padding: 25px 0;
  background: crimson;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 20px;
  font-weight: 20px;
}
.navbar .logo a span {
  color: crimson;
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
  color: #fff;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: crimson;
}
.navbar.sticky .menu li a:hover {
  color: #fff;
}

/* menu btn styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
  transition: all 0.3s ease;
}
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: crimson;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover {
  filter: brightness(90%);
}


/* about section  */
.about {
  margin-bottom: 64pt;
  padding-top: 120pt;
}

.about .about-content .left {
  width: 45%;
  margin-top: -30pt;
}
.about .about-content .left .icons {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
}
.about .about-content .left .icons img {
  width: 30px;
  height: 30px;
}
.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}
.about .about-content .right {
  width: 55%;
}
.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.about .about-content .right p {
  text-align: justify;
}
.about .about-content .right a {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 250px;
  background: crimson;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 50px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.about .about-content .right a:hover {
  color: crimson;
  background: none;
}

/* skills section  */

.skills {
  background: #111;
  color: #fff;
}

.skills .skills-content .column {
  width: calc(100%);
}
.skills .skills-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.skills .skills-content p {
  text-align: justify;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 32em;
}

.skills .skills-content .column span {
  color: red;
}

/* portfolio section  */
.portfolio {
  color: #111;
  background: #fff;
}
.portfolio .title::before {
  background: #fff;
}
.portfolio .portfolio-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.portfolio .portfolio-content .card-title1,
.card-title2, .card-title3, .card-title4, .card-title5
{  
  text-align:center;
  font-size: 23px;
  margin-left: auto;
  margin-right: auto;
}

  .portfolio .portfolio-content .card-title-text1,
  .card-title-text2, .card-title-text3, .card-title-text4, .card-title-text5
{  
  text-align:center;
  font-size: 14px;
  color: #888;
  margin-left: auto;
  margin-right: auto;
}

.portfolio .portfolio-content 
.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
  background-size: cover;
  width: 630px;
  height: 394px;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
  margin-bottom: 60pt;
  margin-top: 10px;
}
.portfolio .portfolio-content {
  margin-bottom: 15pt;
}
.card1 {
  background-image: url("./images/1.png");
}
.card2 {
  background-image: url("./images/28.png");
}
.card3 {
  background-image: url("./images/31.png");
}
.card4 {
  background-image: url("./images/41.png");
}
.card5 {
  background-image: url("./images/48.png");
}
.card6 {
  background-image: url("./images/48.png");
}
.portfolio .portfolio-content .card1 .box,
.card2 .box,
.card3 .box,
.card4 .box,
.card5 .box,
.card6 .box {
  transition: all 0.3s ease;
  width: 630px;
  height: 394px;
  margin: 0;
  display: none;
 
}
.portfolio .portfolio-content .card1:hover,
.card2:hover,
.card3:hover,
.card4:hover,
.card5:hover,
.card6:hover {
  transform: scale(0.95);
  background-color: rgba(0, 0, 0, 0.664);

}
.portfolio .portfolio-content .card1:hover .box,
.card2:hover .box,
.card3:hover .box,
.card4:hover .box,
.card5:hover .box,
.card6:hover .box {
  transform: scale(1);
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.664);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  
}

.portfolio .portfolio-content .card1 i,
.card2 i,
.card3 i,
.card4 i,
.card5 i,
.card6 i {
  font-size: 50px;
  transition: color 0.3s ease;
}

.portfolio .portfolio-content .card1 .text,
.card2 .text,
.card3 .text,
.card4 .text,
.card5 .text,
.card6 .text {
  font-size: 25px;
  margin: 0;
  padding: 0;
}
.portfolio .portfolio-content .card1 .text p,
.card2 .text p,
.card3 .text p,
.card4 .text p,
.card5 .text p,
.card6 .text p {
  font-size: 15px;
  margin: 0;
  padding: 0;
}
/* contact section styling */
.contact {
  background: #111;
  color: #fff;
}
.contact .contact-content .column {
  width: calc(50% - 30px);
}
.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left p {
  text-align: justify;
}
.contact .contact-content .left .icons {
  margin: 10px 0;
}
.contact .contact-content .row {
  display: flex;
  height: 40px;
  margin-top: 20px;
  align-items: center;
}
.contact .contact-content .row .info {
  margin-left: 30px;
}

.contact .contact-content .info .head {
  font-weight: 500;
}
.contact .contact-content .info .sub-title {
  color: #333;
}
.contact .right form .fields {
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .textarea {
  height: 80px;
  width: 100%;
}
.contact .right form .name {
  margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border-color: #b3b3b3;
}
.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area {
  display: flex;
  align-items: center;
}
.right form .button-area button {
  color: #fff;
  display: block;
  width: 160px !important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: crimson;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.right form .button-area button:hover {
  color: crimson;
  background: none;
}

/* responsive media query start */
@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}
@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  body {
    position: relative;
  }
  body.active {
    position: fixed;
  }

  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .max-width {
    max-width: 930px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .portfolio .portfolio-content .card {
    width: calc(50% - 10px);

    margin-bottom: 20px;
  }
  .skills .skills-content .column,
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
  .contact .contact-content .column .icons {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .contact .contact-content .row {
    margin: 18px;
  }
  .contact .contact-content .row .info {
    margin-left: 2px;
  }
  .contact .contact-content .column {
    justify-content: center;
    text-align: center;
  }
  .contact .contact-content .column p {
    justify-content: center;
    text-align: center;
  }
  .contact .contact-content .right .button-area {
    justify-content: center;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
    
  }
  .portfolio .portfolio-content .card1,
  .card2,
  .card3,
  .card4,
  .card5 {
    width: 438.48px;
    height: 274.05px;
   
  
  }
  .portfolio .portfolio-content .card1 .box,
.card2 .box,
.card3 .box,
.card4 .box,
.card5 .box,
.card6 .box {
  width: 438.48px;
  height: 274.05px;
 
}
.skills .skills-content p {
  font-size: 16px;
}

@media (max-width: 500px) {
  .about .about-content .right .text,
  .skills .skills-content .left .text {
    font-size: 19px;
  }
  .contact .right form .fields {
    flex-direction: column;
  }
  .contact .right form .name,
  .contact .right form .email {
    margin: 0;
  }
  .right form .error-box {
    width: 150px;
  }
  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
}

}